<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BGUtils</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-1">
                        <a href="/">
                            <img src="~/images/header-logo.png" />
                        </a>
                    </div>
                    <div class="column">
                        <h1 class="title">
                            BGUtils.com
                        </h1>
                        <h2 class="subtitle">
                            Tools for BoardGameGeek users.
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>

                    <a class="navbar-item" href="/About">
                        About
                    </a>

                    <a class="navbar-item" href="/Contact">
                        Contact
                    </a>
                </div>

                <div class="navbar-end">
                </div>
            </div>
        </nav>
        <div class="container">

            @RenderBody()
            <hr />
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        <strong>BGUtils.com</strong> &copy; @DateTime.Now.Year by Corey McKinnon.
                    </p>
                </div>
            </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/js/dist/site.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/dist/site.bundle.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
