
@{
    ViewData["Title"] = "Index";
}


<div class="columns">
    <div class="column">
        <h1 class="title">About BGUtils.com</h1>
        <p>
            BGUtils.com is a project by Corey McKinnon. It is mostly an excercise in learning more about <a href="https://www.microsoft.com/net/download" target="_blank">.Net Core</a>,
            <a href="https://vuejs.org/" target="_blank">Vue.js</a> and the <a href="https://bulma.io" target="_blank">Bulma</a> CSS framework.
        </p>
        <p>
            The code is available to view on <a href="https://github.com/CMcKinnon/BGUtils" target="_blank">GitHub</a>.
            It uses my <a href="https://github.com/CMcKinnon/CMcKinnon.BGG" target="_blank">CMcKinnon.BGG</a> client library for
            BoardGameGeek.com, which will eventually be published on NuGet.org so others can use it.
        </p>
    </div>
</div>