
@{
    ViewData["Title"] = "Contact";
}

<div class="columns">
    <div class="column">
        <h1 class="title">Contact Information</h1>
        <p>
            You can contact me via email at cmckinnon [at] gmail [dot] com.
        </p>
    </div>
</div>

