@{
    ViewData["Title"] = "Home Page";
}

<div class="columns">
    <div class="column">
        Welcome to BGUtils.com, a site providing tools for <a href="https://boardgamegeek.com" target="_blank">BoardGameGeek.com</a> users.
    </div>
</div>