
@{
    ViewData["Title"] = "Index";
}

<div class="columns" id="users-container">
    <h1 class="title">User Explorer</h1>
</div>
@section Scripts {
    <script>
        (function (clm) {
            clm.application.UseUsersPage();
        })(clm);
    </script>
}